body { background: #ce2d59; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 47px; display: flex; }
.block-invoice-0 { color: #4a90b9; font-size: 15px; margin-bottom: 5px; }
.block-helper-1 { color: #8c6814; font-size: 18px; margin-bottom: 5px; }
.block-metrics-2 { color: #e4e918; font-size: 21px; margin-bottom: 5px; }
.block-user-3 { color: #9aa234; font-size: 20px; margin-bottom: 5px; }
.block-cluster-4 { color: #6b7257; font-size: 17px; margin-bottom: 5px; }
.block-helper-5 { color: #ea2aa8; font-size: 12px; margin-bottom: 5px; }